[Unit]
Description=FitzTwitch
After=network.target
StartLimitBurst=2
StartLimitIntervalSec=15

[Service]
Type=simple
User=fitztwitch
WorkingDirectory=/home/fitztwitch/bot
ExecStart=/usr/bin/dotnet /home/fitztwitch/bot/FitzTwitch.dll
Restart=on-failure

[Install]
WantedBy=multi-user.target